work
MAC.mpf
*.mti
*.mpt
TB.vhd
main.vhd

_ngo
_xmsgs
ipcore_dir
iseconfig
templates
xlnx_auto_0_xdb
xst
*.Iso
*.bld
*.cmd_log
*.ncd
*.ngc
*.ngr
*.ngm
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.xpi
*.xst
*.xrpt
*.xml
*.map
*.mrp
*.csv
*.txt
*.html
*.gise
*.xise
